.App{
  max-width: 1200px;
  margin: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}nav {
  display: flex;
  align-items: center;
}
nav .logo-name{
  font-weight: bold;
  color: #1976D2;
  margin: auto;
  unicode-bidi: plaintext;
  font-size: 20px;
}
nav .menu-btn{
  display: none;
  color: #1976D2;
  border: none;
  background: none;
  cursor: pointer;
}
nav .menu-btn svg{
  height: 30px;
  width: 30px;
}

@media (max-width: 768px) {
  nav .menu-btn{
    display: block;
  }
}
.App-container{
  margin-right: 0 !important;
  display: flex;
  height: calc(100vh - 60px);
  max-height: 600px;
  position: relative;
}
@media (max-width: 768px) {
  .App-container{
    height: calc(100vh - 70px);
  }
}
